# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
build/
dist/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Model Weights (Remove these if you WANT to upload your models to GitHub)
*.safetensors
*/.safetensors
*.bin
*.h5

# OS specific
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

# Flask/IDEs
instance/
.pytest_cache/
.vscode/
.idea/